@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.container{
    width: 100vw;
    max-width: 960px;
    margin: 0 auto;
}

.box{
    display:flex;
    height: 100px;
    min-width: 100px;
}

.location{

}
/* App.css */
.app-container {
    background-image: url("../public/Background.png"); /* Correct path to the image */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.locationtext{
    font-family: "Inter", sans-serif; ;
}