@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



.container{
    margin: 0 auto;
    background-image: url("../public/Background.png");
    background-size: cover;
    height:100vh;
    width: auto;
}

.box{
    display:flex;
    height: 100px;
    min-width: 100px;
}

.location{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.weatherimage img{
    width: 5vh;
    height: auto;
}
.locationtext{
    font-family: "Inter", sans-serif; ;
}